body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black; 
}

#container {
    display: flex;
    width: 60%; 
    height: 80vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-artist {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 500px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    /* border-radius: 100px; */
}

.title{
    font-size: 40px;
    font-weight: bold;
    
    /* background-color:  #000000;  */
    color: #fff; 
    border: none;
}

#artist-name{
    border-radius: 30px;
    border: none;
    text-align: center;
    height: 40px;
    width: 300px;
}

#container-tracks{
    /* background-color: #000000; */
    width: 80%;
    height: 700px;
    margin-bottom: 2%;
}

.music-track{
    color: #fff;
    font-weight: 550;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
    margin: 5px;
    padding-left: 10px;
    background-color: #000000;
    box-shadow: 0 0 6px rgba(0,0,0,.3), 0 -6px 6px
    rgba(0,0,0,.3);
    border-radius: 4px;
}

#container-title{
    display: flex; 
    flex-direction: row; 
    background-color: black; 
    justify-content: center; 
    justify-self: center;
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
    /* border-radius: 10px; */
}


