body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
    max-width: 100wh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #121212, #1E2923, #121212);
    flex-direction: column;
    overflow: hidden;
}

#container {
    display: flex;
    width: 80vw;
    max-width: 800px;
    min-width: 500px; /* Definindo um tamanho mínimo para o container */
    height: 80vw;
    max-height: 800px;
    min-height: 500px; /* Definindo um tamanho mínimo para o container */
    background-color: white;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0,0,0,.3), 0 -6px 6px rgba(0,0,0,.3);

    &:hover {
        transform: translateX(-5%);
    }
}

#autocomplete-list {
    font-size: 15px;
    position: absolute;
    flex-direction: column;
    background-color: #121212;
    color: #ffffff;
    max-height: 20vh;
    overflow-y: scroll;
    z-index: 1;
    width: 90%;
    justify-self: center;
    max-width: 400px;
    top: 100%;
}

#autocomplete-list div {  
    padding: 8px;
    cursor: pointer;
}

#autocomplete-list div:hover {
    background-color: #ddd;
}

#credits {
    align-self: center;
    margin-left: auto; 
    font-family: 'Arial', sans-serif;
    font-size: 0.7vw;
    margin-top: 20px;
    padding: 10px;
    border-left: 1px solid #444444;
}

#disc {
    position: absolute;
    left: 50%;
    width: 78vw;
    max-width: 780px;
    height: 78vw;
    max-height: 780px;
    z-index: -1;
    animation: rotate360 8s linear infinite;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#artist-input {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#container-artist {
    position: relative;
    display: grid;
    flex-direction: column;
    background-color: #121212;
    height: 100px;
    width: 80%;
    min-width: 640px;
    min-width: 100px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    box-shadow: 0 0 6px rgba(0,0,0,.3), 0 -6px 6px rgba(0,0,0,.3);
    border-radius: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #121212;
    border: none;
}

#artist-name {
    border-radius: 30px;
    border: none;
    text-align: center;
    height: 40px;
    width: 30vw;
    max-width: 300px;
}

.change-input {
    position: absolute;
    left: 100%;
}

.iframe {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.iframe.loaded {
    opacity: 1;
}

#container-tracks {
    width: 80%;
    max-width: 800px;
    margin-bottom: 2%;
}

.pass-btn {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.pass-btn img {
    width: 20px;
    height: 20px;
}

.pass-btn:hover {
    transform: scale(1.05);
}

.iluvu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: #0D0D0D;
    border: none;
}

#container-title {
    display: flex;
    flex-direction: row;
    background-color: 'white';
    justify-content: start;
    justify-self: center;
    width: 80%;
    max-width: 800px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#loading{
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-items: center;
}

/* #loading img{

} */

#reload-btn {
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

#img-title{
    margin-left: -30px; 
    margin-bottom: 2px; 
    transform: rotate(90deg);
}

@media screen and (max-width: 1366px) and (min-width: 769px) {
    #container{
        width: 620px;
        height: 620px;
    }

    #container-artist {
        height: 55px;
    }

    .pass-btn {
        padding: 7px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .pass-btn img {
        width: 16px;
        height: 16px;
    }

    #artist-name {
        border-radius: 30px;
        height: 30px;
        width: 30vw;
        font-size: 12px;
    }

    #disc {
        width: 600px;
        height: 600px;
    }

    .iframe.loaded {
        height: 85px;
    }

    .title {
        font-size: 20px;
    }

    #img-title{ 
        margin-bottom: 0px;
        
        margin-left: -30px;
    }

    #container-title {
        width: 80%;
        max-width: 800px;
        height: 60px;
    }

    #reload-btn {
        width: 30px;
        height: 30px;
    }

}

