body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D; 
}

#container {
    display: flex;
    width: 50%; 
    height: 80vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;   
}

#container-artist {
    display: flex;
    background-color: #0D0D0D;
    height: 300px;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    /* border-radius: 100px; */
    box-shadow: 0 0 6px rgba(0,0,0,.3), 0 -6px 6px
    rgba(0,0,0,.3);
    border-radius: 20px;
}

.title{
    font-size: 40px;
    font-weight: bold;
    
    /* background-color:  #000000;  */
    /* color: #fff;  */
    color: #0D0D0D;
    border: none;
}

#artist-name{
    border-radius: 30px;
    border: none;
    text-align: center;
    height: 40px;
    width: 300px;
    transition: .8s all ease-in-out;
}

.change-input{
    position: absolute;
    left: 100%;
}

.iframe {
    opacity: 0; 
    transition: opacity 2.5s ease-in-out;
}

.iframe.loaded {
    opacity: 1;
    transition: transform 0.3s ease-in-out;


    &:hover{
        transform: scale(1.05);

    } 
}

#container-tracks{
    /* background-color: #000000; */
    width: 60%;
    height: 900px;
    margin-bottom: 2%;
}

.iluvu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    
    /* background-color:  #000000;  */
    /* color: #fff;  */
    color: #0D0D0D;
    border: none;

}

/* .music-track{
    color: #fff;
    font-weight: 550;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
    margin: 5px;
    padding-left: 10px;
    background-color: #0D0D0D;
    box-shadow: 0 0 6px rgba(0,0,0,.3), 0 -6px 6px
    rgba(0,0,0,.3);
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;


    &:hover{
        transform: scale(1.1);

    }
} */

#container-title{
    display: flex; 
    flex-direction: row; 
    /* background-color: #0D0D0D;  */
    justify-content: center; 
    justify-self: center;
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
    /* border-radius: 10px; */
}

#reload-btn{
    transition: transform 0.1 ease-in-out;

    &:hover{
        transform: scale(1.05);
    }
}
